#contacto{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    position: relative;
    display: flex;
}
ul li {
    position: relative;
    list-style: none;
    margin: 20px 10px;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
    color: #1a1a1a;
}
ul li a .fa-brands {
    font-size: 5em;
    background-color: transparent;
}
ul li a::before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 6em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

